.listfavoritos{
    max-height: 20vh;
    height: auto;
    overflow: hidden;
    overflow-y: scroll;
}

.gridfavoritos{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.gridfavoritos .info h4{
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.infodato{
    grid-area: 1 / 0 / 0 / 0;
}

.miscompras{
    grid-area: 1 / 2 / 1 / 2;
}

.favoriteshome p a{
    color: var(--vinotinto);
    text-decoration: none;
}
.favoriteshome{
    text-align: right;
}