.backbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: calc(78vw);
}

.pagetitle {
    display: flex;
    flex-direction: column;
    width: 70%;
    float: left;
}

.pagetitle h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.buton {
    width: 30%;
    display: flex;
    float: left;
    height: 34px;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}

.buton .btn {
    float: right;
    right: 0;
    position: relative;
    width: 30%;
    display: flex;
    justify-content: center;
}
.backbutton a{
    color: var(--vinotinto);
}

@media (max-width:768px){
    .backbutton {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: calc(90vw);
    margin-top: 70px;
    margin-bottom: 20px;
}
.backbutton a{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.pagetitle {
    display: flex;
    flex-direction: column;
    width: 90%;
    float: left;
}
.pagetitle h1 {
    font-size: 20px;
    
}
.breadcrumb{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
}