<!-- <app-cintamiembro></app-cintamiembro> -->


<div class="container mt-3 mb-3">
    <app-back-button [title]="blog.name"></app-back-button>
    <!-- left-side -->
    <div class="contenido ">
        <app-loading *ngIf="isLoading"></app-loading>
        <!-- article -->
        <div class="article" *ngIf="!isLoading">
            <div class="userinfo">
                <p><span class="resaltado">{{blogusuario.username}}</span>&nbsp; in &nbsp;<a
                        [routerLink]="['/blog/category/', blog.categoria._id]"
                        class="resaltado">{{blog.categoria.nombre}}</a>&nbsp;</p>
            </div>
            <div class="article-options">
                <div class="time-story">
                    5 min read • Based on you reading history
                </div>
                <div class="options-icons">
                    <a class="pointer" (click)="addToFavorites()">
                        <i class="fa fa-bookmark-o"></i>
                    </a>
                    <a class="pointer">
                        <img src="./assets/svg/menu-puntos.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="article-info">
                <div class="imagenpost">
                    <div *ngIf="!blog">
                        <div class="no-image"></div>
                        <img class="img-responsive" src="./assets/images/no-image.jpg" alt=" {{blog.name}}" />
                    </div>
                    <div *ngIf="blog">
                        <div class="got-image"
                            [style.background-image]="'url(' + (blog.img | imagenPipe: 'blogs') + ')'"
                            [title]="post.title">
                        </div>
                        <!-- <img class="img-responsive" [src]="blog.img | imagenPipe: 'posts'" alt=" {{blog.name}}" /> -->
                    </div>
                </div>
                <h1>{{blog.name}}</h1>
                <div class="desc" [innerHtml]="blog.description | safe: 'html' "></div>


            </div>

        </div>
        <!-- article -->
    </div>
    <!-- end left-side -->
    <!-- right side -->
    <app-sidebar></app-sidebar>
    <!-- endright side -->
</div>