<div class="home-article">
    <div class="userinfo">
        <p><span class="resaltado">{{product.usuario.username}}</span>&nbsp; in &nbsp;<span
                class="resaltado">ITNEXT</span>&nbsp; • &nbsp; <span class="resaltado">{{product.createdAt |
                date:'mediumDate'}}</span></p>
    </div>
    <div class="article-info">
        <a [routerLink]="['/blog', product.slug]">
            <h1>{{product.name}}</h1>
        </a>
        <div class="introHome" [innerHtml]="product.introhome | safe: 'html'  "></div>
        <div class="image-article">
            <div *ngIf="!product.img">
                <div class="no-image"></div>
            </div>
            <div *ngIf="product.img">
                <div class="got-image-s" [style.background-image]="'url(' + (product.img | imagenPipe: 'blogs') + ')'" title="{{product.name}}"></div>
            </div>
        </div>
    </div>
    <div class="article-options">
        <div class="topic badge badge-pill badge-danger mr-1">
            {{product.categoria.nombre}}
        </div>
        <div class="options-icons">
            {{product.price|currency}}
        </div>
        <div class="options-buttons">
            <div *ngIf="!usuario || usuario.role === 'undefined' || usuario.role === 'null'">
                Registrate para comprar
            </div>
            <div *ngIf="usuario ">
                <a (click)="addToCart()">
                    <button class="btn btn-outline-danger mr-1">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </a>
            </div>
        </div>
        <div *ngIf="usuario && !esFavorito && profile">
            <div class="options-icons">
                <a class="pointer btn btn-outline-danger" id="notification-trigger" (click)="addToFavorites(product)">
                    <i class="fa fa-bookmark-o"></i>
                </a>
            </div>
        </div>
        <span *ngIf="usuario && esFavorito && profile" class="text-danger">
            <i class="fa fa-heart"></i> Ya en tus favoritos
        </span>

    </div>
</div>