<div class="modal fade" id="viewPlan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{planSeleccionado?.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="col-xs-12">
            <h2>Precio mensual: {{planpaypal?.billing_cycles[0].pricing_scheme.fixed_price.value | currency}}</h2>
            <p>Cuota de activación (única vez): {{planpaypal?.payment_preferences.setup_fee.value |currency}}</p>
            <hr>
            <strong>
              Total primer pago: {{ calcularTotal() | currency }}
            </strong>
            <p>{{planpaypal?.billing_cycles[0].frequency.interval_unit}}</p>

            <div *ngIf="planpaypal">
              <ngx-paypal #advanced [config]="SubcriptionConfig"></ngx-paypal>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>