@charset "UTF-8";

/* CSS Document */


/*Author: Malcolm cordova @malcolmcordova mercadocreativo@gmail.com www.malcolmcordova.com*/

.container-header {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    align-self: center;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 999;
    transition: all .1s ease;
    background-color: var(--white);
    padding: 0 20px;
}

.header .left {
    display: flex;
    justify-content: space-between;
    float: left;
    align-items: center;
}

.header .right {
    display: flex;
    justify-content: space-between;
    float: right;
    width: 150px;
    align-items: center;
}

.write img,
.cart img,
.notification img {
    display: flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.user-header img {
    display: flex;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.write {
    display: flex;
}

.right .user-header img {
    border-radius: 100px;
    border: 2px solid var(--gris);
}

.header .row {
    flex-wrap: nowrap;
    width: 100%;
    display: contents;
}

.header .logo img {
    height: 40px;
    display: flex;
    justify-content: left;
}

.header .logo2 {
    display: none;
}

.header .contenido_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

.header2 {
    height: 60px;
    align-self: center;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 0px;
    position: fixed;
    z-index: 999;
    /* backdrop-filter: blur(34px); */
    box-shadow: 0 8px 32px 0 rgba(11, 11, 11, 0.37);
}

.header2 .logo {}

.cart {
    position: relative;
}

.cart--notification {
    background-color: var(--vinotinto);
    width: 15px;
    height: 12px;
    border-radius: 16px;
    position: absolute;
    top: -2px;
    right: -5px;
    font-size: 0.6em;
    text-align: center;
    color: White;
}

.cart:hover {
    cursor: pointer;
}

@media(max-width:1024px) {}

@media(max-width:768px) {}

@media(max-width:420px) {
    .header {
        width: 100vw;
        height: 60px;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        margin-top: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
    }
    .header2 {
        height: auto;
        padding: 10px;
        position: fixed;
        z-index: 999;
        /* background: rgba(248, 248, 249, 0.834); */
        background: #fff;
        box-shadow: 0 8px 32px 0 rgb(11 11 11 / 37%);
    }
    .header .container {
        max-width: 100%;
        padding: 0;
    }
    .header .search {
        display: none !important;
    }
    .header .container-fluid {
        padding: 0;
    }
    .write img,
    .notification img {
        width: 20px;
        height: 20px;
    }
}


/* search */

.header .search {
    display: flex;
    width: 190px;
    height: 40px;
    justify-content: space-between;
    align-self: center;
    background-color: var(--white);
    border-radius: 40px;
    flex-direction: row;
    border: 1px solid var(--gris);
    margin-left: 10px;
}

.header .search input {
    border-radius: 40px;
    padding: 5px 10px;
}

.header .search p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 15px;
}

.header .search i {
    display: flex;
}

.header .search img {
    display: flex;
}

#custom-search-form {
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    border: none;
}

#custom-search-form button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
}

*/ .search-query:focus+button {
    z-index: 3;
}