@charset "UTF-8";

/* CSS Document */


/*Author: Malcolm cordova @malcolmcordova mercadocreativo@gmail.com www.malcolmcordova.com*/

.home-article {
    height: auto;
    border-bottom: 1px solid var(--gris);
    padding: 10px;
    margin-bottom: 10px;
}

.home-article .userinfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.home-article .userinfo .image-user {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 10px;
    background-color: var(--gris);
    padding: 3px;
}

.home-article .userinfo .image-user img {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 100px;
}

.home-article .userinfo p {
    display: flex;
    color: var(--gris);
}

.home-article .article-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 140px;
}

.home-article .article-info h1 {
    grid-area: 1 / 1 / 2 / 3;
    padding: 0;
    margin: 0;
    color: var(--vinotinto);
    font-size: 1.5rem;
}

.home-article .article-info h1 a {
    padding: 0;
    margin: 0;
    color: var(--vinotinto);
    font-size: 1.5rem;
}


/* .home-article .article-info .introhome {

} */

.introHome {
    grid-area: 2 / 1 / 3 / 3;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    width: 100%;
}

.home-article .article-info .image-article {
    grid-area: 1 / 3 / 3 / 4;
    margin: auto;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 9px 7px -4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 9px 7px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 9px 7px -4px rgba(0, 0, 0, 0.25);
    height: 150px;
    width: 100%;
    background-color: #fff;
}

.home-article .article-info .image-article img {
    width: 150px;
    margin: auto;
    height: 150px;
}

.home-article .article-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 35px;
}

.home-article .article-options .time-story {
    display: flex;
    color: var(--gris);
    position: relative;
    left: -90px;
}

.home-article .article-options .options-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    width: 100px;
}

.home-article .article-options .options-icons img {
    display: flex;
    width: 20px;
    height: 20px;
    filter: opacity(0.5);
}

.boton-mas-articulos {
    display: none;
}

@media(max-width:768px) {
    .home-article {
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: var(--gris-fondo);
        border-radius: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 7px 5px -3px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 7px 5px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 7px 5px -3px rgba(0, 0, 0, 0.75);
    }
    .home-article .article-info {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .home-article .article-info p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .home-article .article-info .image-article {
        margin: auto;
        overflow: hidden;
        height: 150px;
    }
    .home-article .article-info .image-article img {
        width: 100%;
        margin: auto;
    }
    .home-article .article-options {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
    .home-article .article-options .time-story,
    .home-article .article-options .topic {
        display: none;
    }
    .boton-mas-articulos {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-article .article-info h1 a {
        font-size: 1.1rem;
    }
}