<div class="container mt-3 mb-3">
    <!-- left-side -->
    <div class="contenido" >
        <!-- whotofollow -->
        <div class="whotofollow ">
            <div class="title-seccion">
                <img src="./assets/svg/agregar-usuario.svg" alt="">
                <h1>Editores</h1>
            </div>
            <div class="columns">
                <!-- tofolow -->
                <div class="tofolow" *ngFor="let editor of editores">
                    <div class="info">
                        <a [routerLink]="['/editor', editor.uid]">
                            <h1>{{editor.username}}</h1>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
            </div>

        </div>
        <!-- whotofollow -->
    </div>
    <!-- end left-side -->
    <!-- right side -->
    <app-sidebar></app-sidebar>
    <!-- endright side -->
</div>