<div class="container mt-3 mb-3">
    <!-- left-side -->
    <div class="contenido">
        <!-- whotofollow -->
        <div class="whotofollow ">
            <div class="title-seccion">
                <img src="./assets/svg/agregar-usuario.svg" alt="">
                <h1>Who to Follow</h1>
            </div>
            <div class="columns">
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->
                <!-- tofolow -->
                <div class="tofolow">
                    <div class="imagen">
                        <a href="editor.html">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <h1>Barack Obama</h1>
                        <p>Dad, husband, President,citizen</p>
                    </div>
                    <div class="boton">
                        <a href="#">
                            <button class="btn btn-outline-dark borderradius">Follow</button>
                        </a>
                    </div>
                </div>
                <!-- tofolow -->



            </div>

        </div>
        <!-- whotofollow -->
    </div>
    <!-- end left-side -->
    <!-- right side -->
    <app-sidebar></app-sidebar>
    <!-- endright side -->
</div>