<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main"  role="main" name="profile">

    <div class="col-xs-12">
        <div class="leftside">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                
            </div>
            <!-- End Page Title -->
            <div class="buton">
                <button class="btn btn-outline-danger pull-right" href="javascript:void(0)"
                    (click)="goBack()">Volver</button>
            </div>
        </div>
        
        <div class="clear"></div>

        <section class="section dashboard">

            <div class="card pagodetail">
                <div class="col-xs-12 col-sm-6">
                    <p><b>Referencia:</b> {{pago.referencia}}</p>
                    <p><b>Nombre de la cuenta:</b>
                        <a [routerLink]="['/user/', pago.usuario.uid]">{{pago.usuario.username}}</a>
                        </p>
                    <p><b>email de la cuenta:</b> {{pago.usuario.email}}</p>
                    <p><b>Fecha | Hora:</b> {{pago.createdAt | date:'MMM d, y, h:mm:ss a'}}</p>
                    <p><b>Status:</b>
                        <span class="badge bg-success" *ngIf="pago.status === 'COMPLETED'">Completado</span>
                        <span class="badge bg-primary" *ngIf="pago.status === 'PENDING'">Pendiente</span>
                        <span class="badge bg-danger" *ngIf="pago.status === 'CANCELED'">Cancelado</span>
                    </p>

                    <p><b>Validación:</b>
                        <span class="badge bg-success" *ngIf="pago.validacion === 'APROVED'">Aprobado</span>
                        <span class="badge bg-primary" *ngIf="pago.validacion === 'PENDING'">Pendiente</span>
                        <span class="badge bg-danger" *ngIf="pago.validacion === 'REJECTED'">Rechazado</span>
                    </p>

                    <p><b>Monto:</b> {{pago.monto | currency}}</p>
                    <div *ngIf="pagoSeleccionado">
                        <p><b>blog:</b></p>
                        <ul >
                            <li *ngFor="let item of blogs">{{item.name}}</li>

                        </ul>
                    </div>
                    <!-- <p><b>ProductoId:</b> <a [routerLink]="['/dashboard/plan/', payment.plan._id]">
                  {{payment.plan._id}}
                </a></p> -->
                    <!-- <p><b>ProductoId:</b> {{payment.plan.name}}</p> -->

                    <div class="col-md-12" *ngIf="usuario.role === 'SUPERADMIN' || usuario.role === 'ADMIN'">
                        <div class="card">
                            <div class="card-body">
                                <!-- <h4 class="card-title" *ngIf="paymentSeleccionado">{{title}}: {{planSeleccionado.name}}</h4> -->
                                <h4 class="card-title">{{title}}</h4>
                                <form class="form p-t-20 form-horizontal form-material" [formGroup]="paymentForm"
                                    (submit)="updatePago()">
                                    <div class="form-group" style="margin-bottom: 25px;">
                                        <label for="exampleInputuname">Status<span class="required">*</span></label>
                                        <div class="input-group">
                                            <select name="" id="input" class="form-control" formControlName="status"
                                                required="required">
                                                <option value="">Seleccione</option>
                                                <option value="APPROVED">Aprobado</option>
                                                <option value="PENDING">Pendiente</option>
                                                <option value="REJECTED">Rechazado</option>
                                            </select>
                                        </div>



                                    </div>
                                    <div class="form-group" style="margin-bottom: 25px;">
                                        <label for="exampleInputuname">Validación<span class="required">*</span></label>
                                        <div class="input-group">
                                            <select name="" id="input" class="form-control" formControlName="validacion"
                                                required="required">
                                                <option value="">Seleccione</option>
                                                <option value="APPROVED">Aprobado</option>
                                                <option value="PENDING">Pendiente</option>
                                                <option value="REJECTED">Rechazado</option>
                                            </select>

                                        </div>
                                    </div>

                                    <button type="submit"
                                        class="btn btn-success waves-effect waves-light m-r-10 btn-block">
                                        <i class="fa fa-save"></i> Guardar cambios
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>
</div>
<!-- End #main-->