<div class="modal fade" id="condiciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h1>Condiciones</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>