@charset "UTF-8";

/* CSS Document */


/*Author: Malcolm cordova @malcolmcordova mercadocreativo@gmail.com www.malcolmcordova.com*/


/* 
body {
    -webkit-animation: body-animacion 1s 1 ease;
    -moz-animation: body-animacion 1s 1 ease;
    -o-animation: body-animacion 1s 1 ease;
    -ms-animation: body-animacion 1s 1 ease;
    animation: body-animacion 1s 1 ease;
}

@-ms-keyframes body-animacion {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes body-animacion {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes body-animacion {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes body-animacion {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */