<div class="container mt-3 mb-3">
    <!-- left-side -->
    <div class="contenido ">
        <!-- staff-pic -->
        <div class="staff-pic">
            <div class="title-seccion">
                <img src="./assets/svg/mundo.svg" alt="">
                <h1>Staff Pic</h1>
            </div>
            <div class="clear"></div>
            <!-- posted -->
            <div class="posted">
                <div class="userinfo">
                    <div class="image-user">
                        <a href="#">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <p>
                        <a href="#">
                          Dr. Tom Frieden
                      </a>
                    </p>
                </div>
                <h1>
                    <a href="#">
                      This Tool Could Be Key to Prevent the Next Pandemic
                  </a>
                </h1>
            </div>
            <!-- posted -->
            <!-- posted -->
            <div class="posted">
                <div class="userinfo">
                    <div class="image-user">
                        <a href="#">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <p>
                        <a href="#">
                          Dr. Tom Frieden
                      </a>
                    </p>
                </div>
                <h1><a href="#">
                  This Tool Could Be Key to Prevent the Next Pandemic
              </a></h1>
            </div>
            <!-- posted -->
            <!-- posted -->
            <div class="posted">
                <div class="userinfo">
                    <div class="image-user">
                        <a href="#">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <p>
                        <a href="#">
                          Dr. Tom Frieden
                      </a>
                    </p>
                </div>
                <h1><a href="#">
                  This Tool Could Be Key to Prevent the Next Pandemic
              </a></h1>
            </div>
            <!-- posted -->
            <!-- posted -->
            <div class="posted">
                <div class="userinfo">
                    <div class="image-user">
                        <a href="#">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <p>
                        <a href="#">
                          Dr. Tom Frieden
                      </a>
                    </p>
                </div>
                <h1><a href="#">
                  This Tool Could Be Key to Prevent the Next Pandemic
              </a></h1>
            </div>
            <!-- posted -->
            <!-- posted -->
            <div class="posted">
                <div class="userinfo">
                    <div class="image-user">
                        <a href="#">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <p>
                        <a href="#">
                          Dr. Tom Frieden
                      </a>
                    </p>
                </div>
                <h1><a href="#">
                  This Tool Could Be Key to Prevent the Next Pandemic
              </a></h1>
            </div>
            <!-- posted -->
            <!-- posted -->
            <div class="posted">
                <div class="userinfo">
                    <div class="image-user">
                        <a href="#">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <p>
                        <a href="#">
                          Dr. Tom Frieden
                      </a>
                    </p>
                </div>
                <h1><a href="#">
                  This Tool Could Be Key to Prevent the Next Pandemic
              </a></h1>
            </div>
            <!-- posted -->
            <!-- posted -->
            <div class="posted">
                <div class="userinfo">
                    <div class="image-user">
                        <a href="#">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <p>
                        <a href="#">
                          Dr. Tom Frieden
                      </a>
                    </p>
                </div>
                <h1><a href="#">
                  This Tool Could Be Key to Prevent the Next Pandemic
              </a></h1>
            </div>
            <!-- posted -->
            <!-- posted -->
            <div class="posted">
                <div class="userinfo">
                    <div class="image-user">
                        <a href="#">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <p>
                        <a href="#">
                          Dr. Tom Frieden
                      </a>
                    </p>
                </div>
                <h1><a href="#">
                  This Tool Could Be Key to Prevent the Next Pandemic
              </a></h1>
            </div>
            <!-- posted -->
            <!-- posted -->
            <div class="posted">
                <div class="userinfo">
                    <div class="image-user">
                        <a href="#">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <p>
                        <a href="#">
                          Dr. Tom Frieden
                      </a>
                    </p>
                </div>
                <h1><a href="#">
                  This Tool Could Be Key to Prevent the Next Pandemic
              </a></h1>
            </div>
            <!-- posted -->
            <!-- posted -->
            <div class="posted">
                <div class="userinfo">
                    <div class="image-user">
                        <a href="#">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <p>
                        <a href="#">
                          Dr. Tom Frieden
                      </a>
                    </p>
                </div>
                <h1><a href="#">
                  This Tool Could Be Key to Prevent the Next Pandemic
              </a></h1>
            </div>
            <!-- posted -->
            <!-- posted -->
            <div class="posted">
                <div class="userinfo">
                    <div class="image-user">
                        <a href="#">
                            <img src="./assets/img/user2.jpg" alt="">
                        </a>
                    </div>
                    <p>
                        <a href="#">
                          Dr. Tom Frieden
                      </a>
                    </p>
                </div>
                <h1><a href="#">
                  This Tool Could Be Key to Prevent the Next Pandemic
              </a></h1>
            </div>
            <!-- posted -->
        </div>
        <!-- staff-pic -->
    </div>
    <!-- end left-side -->
</div>