<div class="aside ">

    <!-- favoritos -->
    <!-- *ngIf="usuario.role === 'MEMBER'||usuario.role === 'SUPERADMIN'||usuario.role === 'ADMIN'||usuario.role === 'EDITOR'"  -->
    <div class="staff-pic">
        <app-favorites-home></app-favorites-home>
    </div>
    <!-- favoritos -->
     <!-- categorias -->
    <div >
        <div class="recomended-topic">
            <app-categories-home></app-categories-home>
        </div>
    </div>
    <!-- publicidad -->
    <app-sideadvertising></app-sideadvertising>
    <!-- publicidad -->
    <!-- tips -->
    <div class="boxmember" *ngIf="usuario && role !== 'EDITOR'">
        <h1>Monetiza tus artículos!</h1>
        <ul>
            <li>Escribe y gana</li>
            <li>Solicita Tu rol de Editor</li>
        </ul>
        <button class="btn btn-outline-danger" [routerLink]="['/login']">
            Solicitar ya!
        </button>
    </div>
    <!-- tips -->
    <!-- socialblock -->
    <div class="socialblock">
        <h2>Descubre más información y eventos en nuestras Redes Sociales.</h2>
        <div class="tope">
            <img src="./assets/svg/logo.svg" alt="">
            <h1>+</h1>
            <a href="https://twitter.com" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            &nbsp;&nbsp;
            <a href="https://instagram.com" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </div>

        <!-- <div class="btn-group">
            <button type="button" href="https://twitter.com" target="_blank" class="btn btn-outline-danger btn-vinotinto">Follows in &nbsp;<i
                    class="fa fa-twitter"></i></button> &nbsp;&nbsp;&nbsp;
            <button type="button" href="https://instagram.com" target="_blank" class="btn btn-outline-danger btn-vinotinto">Follows in &nbsp;<i
                    class="fa fa-instagram"></i></button>
        </div> -->

    </div>
    <!-- socialblock -->
   


    <!-- readinglist -->
    <div class="readinglist">
        <ul>
            <li><a href="#">Help</a> </li>
            <li><a href="#">Status</a> </li>
            <li><a href="#">Writers</a> </li>
            <li><a href="#">Blog</a> </li>
            <li><a href="#">Carrers</a> </li>
            <li><a href="#">Privacy Term</a> </li>
            <li><a href="#">About</a></li>
            <li><a href="#">Text to speech</a></li>
        </ul>
        <p style="color: #ccc; margin-top: 20px;"><small>Developed by: Malcolm Cordova 2023</small></p>
    </div>
    <!-- readinglist -->

</div>