<div class="container mt-3 mb-3">
    <div class="subcripcion">
        <h1>Planes de Subcripciones</h1>
        <br>
        <hr>
        <div class="row db-padding-btm db-attached">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-one">
                        <div class="price">
                            <sup>$</sup>0
                            <small>Gratis (sólo registrate)</small>
                        </div>
                        <div class="type">
                            BASIC PLAN
                        </div>
                        <ul>

                            <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                            <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                            <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">

                            <a href="registro-login.html" class="btn db-button-color-square btn-lg">Registrarme</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-two popular">
                        <div class="price">
                            <sup>$</sup>1
                            <small>Semanal</small>
                        </div>
                        <div class="type">
                            Reader Plan
                        </div>
                        <ul>

                            <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                            <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                            <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">

                            <a href="#" class="btn db-button-color-square btn-lg">Subscribirme</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-three">
                        <div class="price">
                            <sup>$</sup>24
                            <small>mensual</small>
                        </div>
                        <div class="type">
                            ADVANCE PLAN
                        </div>
                        <ul>

                            <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                            <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                            <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">

                            <a href="#" class="btn db-button-color-square btn-lg">Subscribirme</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-six">
                        <div class="price">
                            <sup>$</sup>59
                            <small>Mensual</small>
                        </div>
                        <div class="type">
                            Editor Plan
                        </div>
                        <ul>

                            <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                            <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                            <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">

                            <a href="#" class="btn db-button-color-square btn-lg">Subscribirme</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="payment-methods">
            <h1>Metodos de Pago</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h2>Paypal</h2>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2>Binance</h2>
                </div>
            </div>
        </div>
    </div>
</div>