<div class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item " *ngFor="let banner of banners; let i=index " [ngClass]="(i === 0) ? 'active' : ''">
                <div class="BannPpal">
                    <div class="container">
                        <div class="inf">
                            <h1 class="Up {{banner.is_activeText}}">{{banner.titulo}}</h1>
                            <h4 class="Up {{banner.is_activeText}}">{{banner.subtitle}}</h4>
                            <div [innerHtml]="banner.description | safe: 'html' "></div>
                            <div class="text-center">
                                <a href="{{banner.url}}" target="{{banner.target}}" class="btn btn-outline-dann {{banner.gotBoton}}">{{banner.botonName}}  </a>

                            </div>
                        </div>
                    </div>
                    <img [src]="banner.img | imagenPipe: 'banners'" alt=" {{banner.title}}">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </button>
    </div>
</div>