<p>modalbinance works!</p>

<!-- <div *ngFor="let plan of planPaypals; let i = index">
    <div class="modal animate fadeInUp" id="{{plan.id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-quickview woocommerce" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="db-pricing-eleven">
                        <div class="price">
                            <div *ngIf="plan.price ">
                                <sup>$</sup>{{plan.setup_fee.value}}
                            </div>
                            <div *ngIf="!plan.price ">
                                <sup>$</sup>0
                                <small>Gratis (sólo registrate)</small>
                            </div>
                        </div>
                        <div class="type">
                            {{plan.name}}
                            {{plan.status}}
                        </div>
                        <div [innerHtml]="plan.description | safe: 'html'" class="description"></div>
                        <div [innerHtml]="plan.description " class="description"></div>
                        <div class="pricing-footer">
                            <button  class="btn db-button-color-square btn-lg" data-dismiss="modal" [routerLink]="['/pasarela-subcripcion', plan.id]"> <i class="fa fa-cart"></i> Subcribirme</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
