<div class="container mt-3 mb-3">
    <div class="editor">
        <h1>Perfil de Editor</h1>
        <div *ngIf="!userExiste || userExiste === null || userExiste === undefined">
            <p>Debes registrarte o comprar un plan para conocer a nuestros editores</p>
        </div>
        
        <div *ngIf="userExiste">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="card shadow-small">
                        <div class="card-body">
                            <div class="tofolow">
                                <div class="imagen">
                                    <div *ngIf="!profile">
                                        <img src="./assets/img/no-image.jpg" style="height: 50px; width: 50px;" class="img-circle avatar">
                                    </div>
                                    <div *ngIf="profile">
                                        <img [src]="profile.img | imagenPipe: 'profiles'" style="height: 50px; width: 50px;" class="img-circle avatar">
                    
                                    </div>
                                </div>
                                <div class="info">
                                    <h1>{{profile.usuario.username}}</h1>
                                    <p><b>Email:</b> {{profile.usuario.email}}</p>
                                    <p><b>Miembro desde:</b> {{profile.usuario.createdAt | date: 'dd/mm/YYYY'}}</p>
                                    <p *ngIf="profile.facebook"><b>Facebook:</b> {{profile.facebook}}</p>
                                    <p *ngIf="profile.instagram"><b>Instagram:</b> {{profile.instagram}}</p>
                                    <p *ngIf="profile.linkedin"><b>Linkedin:</b> {{profile.linkedin}}</p>
                                    <p *ngIf="profile.twitter"><b>Twitter:</b> {{profile.twitter}}</p>
                                </div>
                                <!-- <div class="boton">
                                    <button class="btn btn-outline-dark borderradius">Follow</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2>Publicaciones</h2>
                            <div *ngFor="let post of blogs">
                                <!-- article -->
                                <div class="home-article">
                                    <div class="article-info">
                                        <h1><a [routerLink]="['/post', post.id]">{{post.title}}</a></h1>
                                        <p>{{post.description}}</p>
                                        <div class="image-article">
                                            <a [routerLink]="['/post', post.id]">
                                                <div *ngIf="!post.image">
                                                    <img class="img-responsive" src="./assets/img/no-image.jpg" alt=" {{post.title}}" style="width:100%" />
                                                </div>
                                                <div *ngIf="post.image">
                                                    <img class="img-responsive" [src]="post.image | imagenPipe: 'posts'" alt=" {{post.title}}" style="width:100%" />
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- article -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>