<!-- article -->


<div class="col-xs-12 " *ngFor="let product of blogs">
    <app-product-item [product]="product"></app-product-item>

</div>

<app-modalbinance></app-modalbinance>


<!-- <div class="home-article" *ngFor="let post of blogs">
    <div class="userinfo">
        <p><span class="resaltado">{{post.usuario.username}}</span>&nbsp; in &nbsp;<span class="resaltado">ITNEXT</span>&nbsp; • &nbsp; <span class="resaltado">{{post.created_at | date:'mediumDate'}}</span></p>
    </div>
    <div class="article-info">
        <h1><a [routerLink]="['/blog', post.slug]">{{post.name}}</a></h1>
        <div class="introHome" [innerHtml]="post.description | safe: 'html' "></div>
        <div class="image-article">
            <a [routerLink]="['/blog', post.slug]">
                <div *ngIf="!post.img">
                    <div class="no-image"></div>
                </div>
                <div *ngIf="post.img">
                    <div class="got-image" style="background-image: url('{{imagenSerUrl}}blogs/{{post.img}}')" title="{{post.name}}"></div>
                    <img class="img-responsive" [src]="post.image | imagenPipe: 'posts'" alt=" {{post.title}}" />
                </div>
            </a>
        </div>
    </div>
    <div class="article-options">
        <div class="topic badge badge-pill badge-light mr-1">
            {{post.categoria.nombre}}
        </div>
        <div class="options-icons">
            {{post.price|currency}}
            <a (click)="addToCart()">
                <button class="btn">pagar con paypal/tdc  </button> 
            </a>
        </div>
    </div>
</div> -->


<!-- article -->
<div class="boton-mas-articulos">
    <button class="btn btn-vinotinto">
      Cargar más
  </button>
</div>