<div *ngIf="!role || !user">
    <!-- <div> -->
    <div class="subcribe-bar">
        <i class="fa fa-star-o"></i>
        <p>Inicia sesión o registrate para ver el artículo.</p>
        <p><a (click)="irAlLogin()">Inicio / Registro</a></p>
        <p><a (click)="gotoSubscripcion()">Ver planes de Subscripción</a></p>
    </div>
</div>

<div *ngIf="user && user.role === 'USER' ">
    <!-- <div> -->
    <div class="subcribe-bar">
        <i class="fa fa-star-o"></i>
        <p>Obten Acceso ilimitado de todo Article App por tan solo  $1/semanal.</p>
        <p><a (click)="gotoSubscripcion()" >Ver planes de Subscripción</a></p>
    </div>
</div>

<div *ngIf="user && role === 'ADMIN' || role === 'EDITOR' || role === 'SUPERADMIN' ">
    <div class="subcribe-bar">
        <i class="fa fa-star-o"></i>
        <p *ngIf="role === 'MEMBER'">Bienvenido {{user.username}}!</p>
        <p *ngIf="role === 'ADMIN'">Bienvenido {{user.username}}!</p>
        <p *ngIf="role === 'EDITOR' ">Bienvenido {{user.username}}!</p>
        <p *ngIf="role === 'SUPERADMIN' ">Bienvenido {{user.username}}!</p>

    </div>
</div>