<!-- <app-cintamiembro></app-cintamiembro> -->
<div class="container mt-3 mb-3">
    <!-- left-side -->
    <div class="contenido ">
        <!-- recomended-topic -->
        <div class="recomended-topic">
            <div class="title-seccion">
                <img src="./assets/svg/prismaticos.svg" alt="">
                <h1>Categorias Recomendadas</h1>

            </div>
            <div class="clear"></div>
            <ul class="columns" >
                <li class="topic badge badge-pill badge-light mr-1" *ngFor="let category of categories">
                    <a [routerLink]="['/blog/category/', category._id]">{{category.nombre}}</a>
                </li>
                
            </ul>
        </div>
        <!-- recomended-topic -->
    </div>
    <!-- end left-side -->
    <!-- right side -->
    <app-sidebar></app-sidebar>
    <!-- endright side -->
</div>