<!---menu movil footer-->
<div class="navbarM ">
    <a routerLink="/">
        <img src="./assets/svg/hogar.svg" alt="">
        <p>Home</p>
    </a>
    <a routerLink="staff-pics" class="modal-footer-staff">
        <img src="./assets/svg/mundo.svg" alt="">
        <p>Staff pic</p>
    </a>
    <a routerLink="recommended-topics" class="modal-footer-topics">
        <img src="./assets/svg/prismaticos.svg" alt="">
        <p>Topics</p>
    </a>
    <a routerLink="who-to-follow" class="modal-footer-follow">
        <img src="./assets/svg/agregar-usuario.svg" alt="">
        <p>To follow</p>
    </a>
</div>