<!---menu movil footer-->
<div class="navbarM" *ngIf="user">
    <a routerLink="/">
        <img src="./assets/svg/hogar.svg" alt="">
        <p>Home</p>
    </a>
    <a [routerLink]="['/favoritos', user.uid]" class="modal-footer-staff">
        <img src="./assets/svg/marcador.svg" alt="">
        <p>Favoritos</p>
    </a>
    <a routerLink="recommended-topics" class="modal-footer-topics">
        <img src="./assets/svg/prismaticos.svg" alt="">
        <p>Categorias</p>
    </a>
    <a routerLink="buscar" class="modal-footer-follow">
        <img src="./assets/svg/busqueda.svg" alt="">
        <p>Buscar</p>
    </a>
</div>